<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Speech To Text</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/sticky-footer.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap4.css">

</head>

<body>
    <!-- begin:: body -->
    <section class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">Bugis To Indonesia</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-2">
                                    <table class="table table-hover" id="example">
                                    </table>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-2">
                                    <label for="terjamahan" class="form-label">Terjamahan</label>
                                    <textarea class="form-control form-control-lg" rows="3" name="terjamahan"
                                        id="terjamahan" placeholder="Terjamahan" disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end:: body -->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap4.js"></script>

    <script>
        let untukTabel = function () {
            table = $('#example').DataTable({
                responsive: true,
                processing: true,
                lengthMenu: [5, 10, 25, 50],
                pageLength: 5,
                language: {
                    emptyTable: "Tak ada data yang tersedia pada tabel ini.",
                    processing: "Data sedang diproses...",
                },
                ajax: "https://kamusbugis.netlify.app/api/voice",
                columns: [{
                        title: 'No.',
                        data: 'no',
                        class: 'text-center'
                    },
                    {
                        title: 'Male',
                        class: 'text-center',
                        render: function (data, type, row) {
                            return `<audio controls><source src="uploads/voice/male/${row.male}" type="audio/mpeg"></audio>`;
                        }
                    },
                    {
                        title: 'Female',
                        class: 'text-center',
                        render: function (data, type, row) {
                            return `<audio controls><source src="uploads/voice/female/${row.female}" type="audio/mpeg"></audio>`;
                        }
                    },
                    {
                        title: 'Text',
                        data: 'text',
                        class: 'text-center'
                    },
                    {
                        title: 'Action',
                        class: 'text-center',
                        render: function (data, type, row) {
                            return `<button type="button" class="btn btn-sm btn-primary" id="translate" data-text="${row.text}">Translate</button>`
                        }
                    }
                ],
            });
        }();

        $(document).on('click', '#translate', function () {
            var ini = $(this);
            var text = ini.data('text');

            $.ajax({
                url: '/detect',
                method: 'POST',
                data: {
                    message: text
                },
                beforeSend: function () {
                    $('#terjamahan').val('');
                },
                success: function (res) {
                    $('#terjamahan').val(res.fulfillmentText);
                }
            });
        });
    </script>

</body>

</html>