<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Speech To Text</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/sticky-footer.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap4.css">

</head>

<body>
    <!-- begin:: body -->
    <section class="container">
        <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">Bugis To Indonesia</h2>
                        </div>
                        <div class="card-body">
                            <form action="/detect" method="post" id="detect" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-2">
                                        <label for="text" class="form-label">Text</label>
                                        <input type="file" class="form-control form-control-lg" name="file" id="file">
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-2">
                                        <label for="terjamahan" class="form-label">Terjamahan</label>
                                        <textarea class="form-control form-control-lg" rows="3" name="terjamahan"
                                            id="terjamahan" placeholder="Terjamahan" readonly></textarea>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-2 text-center">
                                        <button type="submit" class="btn btn-primary" id="translate">
                                            Terjamahan
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

      {% if files %}
        <ul>
            {% for file in files %}
                <li>
                    <a href="#">{{ file }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Tidak ada file yang tersimpan.</p>
    {% endif %}
    <!-- end:: body -->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap4.js"></script>

    <script>
       $(document).on('submit', '#detect', function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                method: $(this).attr('method'),
                data: new FormData(this),
                contentType: false,
                processData: false,
                cache: false,
                dataType: 'json',
                beforeSend: function () {},
                success: function (res) {
                    $('#terjamahan').val(res.fulfillmentText);
                },
                complete: function () {}
            });
        });
    </script>

</body>

</html>