<section class="container">
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-2">
                <h2 class="text-center">Speech To Text</h2>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-2">
                <a href="/idtobu" class="btn btn-lg btn-block btn-primary" id="listen">
                    Indonesia To Bugis
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-2">
                <a href="/butoid" class="btn btn-lg btn-block btn-warning" id="listen">
                    Bugis To Indonesia
                </a>
            </div>
        </div>
    </div>
</section>